<a href="https://colab.research.google.com/github/adithya1010/ABEX-Assignments/blob/main/Data-Analyst-Assignment/ABEX_DataAnalystAssignment_Adithya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Analyst Assessment - ABEX - 21/02/2025**

**Name:** Adithya S.T.

**Contact No:** +91 9840983499

**Email ID:** adist1340@gmail.com

Done with inputs from GPT o3-mini and Gemini 1.5 Flash

**Link to Chats:**

1. https://www.perplexity.ai/search/for-the-questions-in-the-pdf-f-1aMFiUtOQnmsPZ_ZVXmZ_Q
2. https://www.getmerlin.in/share/chat/wAokQCpQQVR

**References:**
1. https://www.geeksforgeeks.org/detect-and-remove-the-outliers-using-python/
2. https://www.w3resource.com/python-exercises/pandas/pandas-detect-and-remove-outliers-using-z-score.php
3. https://www.geeksforgeeks.org/z-score-for-outlier-detection-python/

### Importing Libraries

In [32]:
import pandas as pd
import numpy as np

### Loading the dataset

In [33]:
# Load the dataset
df = pd.read_csv('empd.csv')

### Printing the first few rows

In [34]:
df.head()

,employee_id,first_name,last_name,email,phone,department,job_title,salary,join_date,performance_score
0,EMP0001,Robert,Vasquez,anthonyhubbard@example.com,395-797-9647,HR,Senior Analyst,89934.0,2022-09-06,5.0
1,EMP0002,Barbara,Bruce,bonniethomas@example.com,001-745-858-7716x94722,HR,Senior Consultant,77234.0,2024-07-05,5.0
2,EMP0003,Derek,Martin,smiller@example.net,356-450-4481x832,Enginering,Senior Consultant,92953.0,2022-11-02,3.0
3,EMP0004,Monique,Serrano,joseph51@example.net,001-852-702-8457,Sales,Senior Engineer,110460.0,2024-09-21,NaN
4,EMP0005,Frank,Robinson,mariepope@example.net,+1-788-681-6711x207,HR,Manager Manager,75316.0,2023-07-29,2.0

### 1. Imputing using Median of Salary

In [35]:
# 1. Missing salary imputation
# Imputing missing salary values using the median salary for each department
for dept in df['department'].unique():
      median_salary = df[df['department'] == dept]['salary'].median()
      df.loc[(df['department'] == dept) & (df['salary'].isnull()), 'salary'] = median_salary
print("Missing Salary Imputation completed.")

Missing Salary Imputation completed.

### 2. Checking Duplicate Employee IDs

In [36]:
# 2. Duplicate Employee ID Check
# Identifying and listing all employee_id values that appear more than once
duplicate_ids = df[df.duplicated(subset=['employee_id'], keep=False)]['employee_id'].unique()
print("Duplicate Employee IDs:", duplicate_ids)

Duplicate Employee IDs: ['EMP0018' 'EMP0037' 'EMP0052' 'EMP0054' 'EMP0064' 'EMP0096' 'EMP0103'
 'EMP0135' 'EMP0145' 'EMP0150' 'EMP0191' 'EMP0193' 'EMP0195' 'EMP0215'
 'EMP0247' 'EMP0257' 'EMP0265' 'EMP0267' 'EMP0271' 'EMP0275' 'EMP0292'
 'EMP0306' 'EMP0332' 'EMP0346' 'EMP0347' 'EMP0379' 'EMP0396' 'EMP0417'
 'EMP0438' 'EMP0458' 'EMP0468' 'EMP0478' 'EMP0487' 'EMP0492' 'EMP0567'
 'EMP0579' 'EMP0582' 'EMP0586' 'EMP0595' 'EMP0635' 'EMP0699' 'EMP0706'
 'EMP0718' 'EMP0745' 'EMP0750' 'EMP0760' 'EMP0802' 'EMP0824' 'EMP0878'
 'EMP0888' 'EMP0903' 'EMP0918' 'EMP0979' 'EMP1029' 'EMP1037' 'EMP1055'
 'EMP1061' 'EMP1076' 'EMP1091' 'EMP1126']

This lambda function does the following for each value x in the performance_score column:

String Conversion: str(x) converts the value x into a string. This is crucial because the subsequent .isdigit() method only works on strings.

Decimal Removal (First Occurrence): .replace('.', '', 1) attempts to remove the first occurrence of a decimal point (.) from the string. This is intended to handle cases where the input is a floating-point number represented as a string (e.g., "95.5"). By removing the decimal, you can then check if the remaining string consists only of digits.

Digit Check: .isdigit() checks if the resulting string consists only of digits (0-9).

Conditional Logic:

if not str(x).replace('.', '', 1).isdigit(): If the string (after potential decimal removal) is not composed only of digits, the lambda function returns -1. This means the value is considered invalid.
else int(x): If the string is composed only of digits (or was successfully transformed into one), the lambda function converts the original value x to an integer using int(x) and returns it.

### 3. Performance Score Conversion

In [37]:
# 3. Performance Score Conversion
# Converting the performance score column to an integer type, replacing None values with -1
df['performance_score'] = df['performance_score'].fillna(-1)
df['performance_score'] = df['performance_score'].apply(lambda x: -1 if not str(x).replace('.', '', 1).isdigit() else int(x))
print("Performance Score Conversion completed.")

Performance Score Conversion completed.

### 4. Date Format Standardization

def convert_date(date_str):: This defines an inner function called convert_date. Inner functions are functions defined inside another function. This function takes a single argument:
date_str: This is expected to be a string representing a date.
if pd.isnull(date_str):: This checks if the input date_str is null (i.e., None, NaN, or similar). pd.isnull() is a Pandas function designed to handle these types of missing values correctly.
If date_str is null, the function returns None, None. This indicates that there's no valid date to process.
try...except ValueError as e:: This is a try-except block that handles potential errors. It attempts to execute the code within the try block. If a ValueError occurs (specifically, if pd.to_datetime can't parse the date string), the code in the except block is executed.

date_obj = pd.to_datetime(date_str, errors='raise', dayfirst=True)

This is the core of the date parsing.
pd.to_datetime(date_str, ...): This Pandas function attempts to convert the date_str into a Pandas datetime object.
errors='raise': This tells pd.to_datetime to raise a ValueError if it encounters a date string that it cannot parse. This is important because it ensures that invalid dates are not silently converted to some default value.
dayfirst=True: This tells pd.to_datetime to interpret the date string with the day coming before the month. This is important for handling dates like "05-03-2023" where it's ambiguous whether "05" is the day or the month.
or format='%d-%m-%Y': This is a comment indicating an alternative way to specify the date format, explicitly.

return date_obj.strftime('%Y-%m-%d'), date_obj.year

If the date is successfully parsed:
date_obj.strftime('%Y-%m-%d'): This converts the datetime object back into a string, but in the 'YYYY-MM-DD' format. strftime is a method of datetime objects that allows you to format the date according to a specified pattern.
date_obj.year: This extracts the year as an integer from the datetime object.
The function returns both the formatted date string and the year.
print(f"Error converting date: {date_str} - {e}"): If a ValueError occurs (meaning the date string couldn't be parsed):
This line prints an error message to the console, indicating which date string caused the problem and the specific error message (e). This is helpful for debugging.
return None, None: If there's an error, the function returns None, None.

df[['join_date', 'join_year']] = df['join_date'].apply(lambda x: pd.Series(convert_date(x)))
df['join_year'] = pd.to_numeric(df['join_year'], errors='coerce').fillna(-1).astype(int)
return df

 This is where the convert_date function is applied to the join_date column of the DataFrame.
df['join_date'].apply(lambda x: ...): This applies a function to each value (x) in the join_date column.
lambda x: pd.Series(convert_date(x)): This is a lambda function (an anonymous, small, inline function). It takes a value x (which represents a date string from the join_date column), calls the convert_date function with that value, and then converts the result (which is a tuple of (formatted_date, year)) into a Pandas Series. The pd.Series is crucial because it allows the two returned values to be assigned to two different columns.
df[['join_date', 'join_year']] = ...: This assigns the results of the apply operation back to the DataFrame. The original join_date column is replaced with the formatted date string, and a new column join_year is created and populated with the extracted year.

df['join_year'] = pd.to_numeric(df['join_year'], errors='coerce').fillna(-1).astype(int)

This line handles the join_year column to ensure it contains integer values and fills in missing values.
pd.to_numeric(df['join_year'], errors='coerce'): This attempts to convert all values in the join_year column to numeric values. The errors='coerce' argument tells Pandas to replace any values that cannot be converted to numbers with NaN (Not a Number). This is important because the convert_date function returns None when it can't parse a date, which will be inserted as None strings, which would need to be converted to a number.
.fillna(-1): This replaces any NaN values in the join_year column with -1. This is a common practice to represent missing or invalid year values.
.astype(int): This converts all values in the join_year column to integers.
return df: The function returns the modified DataFrame

In [38]:
# 4. Date Format Standardization
def standardize_date_format(df):
    """
    Converts the join_date column to YYYY-MM-DD format and creates a new join_year column.
    Handles errors during date conversion by skipping the row and printing an error message.
    """
    def convert_date(date_str):
        if pd.isnull(date_str):
            return None, None
        try:
            # Specify dayfirst=True or format='%d-%m-%Y'
            date_obj = pd.to_datetime(date_str, errors='raise', dayfirst=True) # or format='%d-%m-%Y'
            return date_obj.strftime('%Y-%m-%d'), date_obj.year
        except ValueError as e:
            print(f"Error converting date: {date_str} - {e}")
            return None, None

    df[['join_date', 'join_year']] = df['join_date'].apply(lambda x: pd.Series(convert_date(x)))
    df['join_year'] = pd.to_numeric(df['join_year'], errors='coerce').fillna(-1).astype(int)
    return df

**Department Typo Correction:**

After applying the replace() function with the department_mapping dictionary, the output will be a DataFrame where the typos in the 'department' column have been corrected.

   department
0  Engineering
1           IT

The 'department' column now has the corrected values, replacing 'Enginering' with 'Engineering' and 'IT ' with 'IT'.

### 5. Department Typo Correction

In [39]:
# 5. Department Typo Correction

department_mapping = {
    'Enginering': 'Engineering',
    'IT ': 'IT'
}

df['department'] = df['department'].replace(department_mapping)
print("Department Typo Correction completed.")

Department Typo Correction completed.

### 6. Salary Outlier Removal

**Calculate Mean and Standard Deviation:**

mean_salary = df['salary'].mean(): This line calculates the mean (average) of the values in the 'salary' column of the DataFrame df and stores it in the variable mean_salary 3 .
std_salary = df['salary'].std(): This line calculates the standard deviation of the values in the 'salary' column and stores it in the variable std_salary 3 . The standard deviation measures the spread or dispersion of the data around the mean 7 .

Filter Outliers:

text

df = df[np.abs(df['salary'] - mean_salary) <= (3 * std_salary)]
: This line filters the DataFrame, keeping only the rows where the 'salary' is within 3 standard deviations of the mean 1 2 7 9 .
df['salary'] - mean_salary: This calculates the difference between each salary and the mean salary.
np.abs(...): This takes the absolute value of the differences, so we're considering the distance from the mean, regardless of whether the salary is above or below the mean.
(3 * std_salary): This calculates the threshold, which is 3 times the standard deviation 7 .
... <= ...: This creates a boolean mask (a Series of True/False values) indicating which salaries are within the threshold.
df[...]: This uses the boolean mask to select only the rows where the condition is True, effectively removing the rows with outlier salaries.
Confirmation Message:

print("Salary Outlier Removal completed."): This line simply prints a message to the console indicating that the outlier removal process has been completed.
In summary, this code identifies and removes salary values that are considered outliers because they fall outside a reasonable range (defined as 3 standard deviations from the mean) 7 . This is a common technique for cleaning data and preventing extreme values from unduly influencing statistical analyses or machine learning models

In [40]:
# 6. Salary Outlier Removal

mean_salary = df['salary'].mean()
std_salary = df['salary'].std()
df = df[np.abs(df['salary'] - mean_salary) <= (3 * std_salary)]
print("Salary Outlier Removal completed.")

Salary Outlier Removal completed.

### 7. Email Domain Extraction

 get_domain(email) function:

def get_domain(email):: Defines a function named get_domain that takes a single argument:

email: This is expected to be a string representing an email address.
if pd.isnull(email):: This checks if the input email is null (missing value). If it's null, it means there's no email to process, so it immediately returns None.

try...except IndexError:: This is a try-except block to gracefully handle potential errors. The try block attempts to split the email string, and the except block handles the case where the split operation fails.

return email.split('@')[1]: This is the core of the domain extraction. email.split('@') splits the email string into a list of two strings at the "@" symbol. [1] accesses the second element of that list (index 1), which is the domain part of the email address.

except IndexError:: If email.split('@') produces a list with fewer than two elements (meaning the "@" symbol was not found), an IndexError occurs. The except block catches this error and returns None to indicate that no domain could be extracted.

2.
text

df.loc[:, 'email_domain'] = df['email'].apply(get_domain)
:

This line applies the get_domain function to the 'email' column of the DataFrame df and stores the results in a new column called 'email_domain'.
df['email'].apply(get_domain): The .apply() method applies the get_domain function to each value in the 'email' column. The result is a Pandas Series containing the extracted domains (or None values if extraction failed).
df.loc[:, 'email_domain'] = ...: This assigns the resulting Series to a new column in df named 'email_domain'. df.loc[:, 'email_domain'] is a way to assign a column to the DataFrame. The : selects all rows, and 'email_domain' specifies the column name

In [41]:
# 7. Email Domain Extraction

def get_domain(email):
    if pd.isnull(email):
        return None
    try:
        return email.split('@')[1]
    except IndexError:
        return None

df.loc[:, 'email_domain'] = df['email'].apply(get_domain)
print("Email Domain Extraction completed.")

Email Domain Extraction completed.

### 8. Salary Correlation Calculation

This code calculates the Pearson correlation coefficient between the 'salary' and 'join_year' columns of a Pandas DataFrame df, and handles potential errors during the calculation. Let's break it down:

1. try...except Exception as e: Block

This structure attempts to execute a block of code (try) and, if any error occurs during execution, it catches that error and executes a different block of code (except). This prevents the program from crashing and allows you to handle errors gracefully .
2.
text

correlation = df['salary'].corr(df['join_year'], method='pearson')

This line calculates the Pearson correlation coefficient between the 'salary' and 'join_year' columns of the DataFrame df and stores the result in the variable correlation.
text

df['salary'].corr(df['join_year'], method='pearson')
: This uses the .corr() method of a Pandas Series to calculate the correlation.
df['salary']: This selects the 'salary' column from the DataFrame.
.corr(df['join_year'], method='pearson'): This calls the .corr() method on the 'salary' Series, passing in the 'join_year' Series as the other variable to correlate with.
method='pearson': Specifies that the Pearson correlation coefficient should be calculated. The Pearson correlation measures the linear relationship between two variables . It returns a value between -1 and 1, where:
1 indicates a perfect positive linear correlation.
-1 indicates a perfect negative linear correlation.
0 indicates no linear correlation .
The result of the .corr() method (the correlation coefficient) is assigned to the variable correlation.
3. print("Salary Correlation:", correlation)

If the correlation is calculated successfully (no error occurred in the try block), this line prints the calculated correlation coefficient to the console .
4. except Exception as e:

If any error occurs during the execution of the code within the try block (e.g., if the 'salary' or 'join_year' columns are missing, contain non-numeric values, or have only a single unique value), the code in the except block will be executed.
Exception as e: This catches any type of exception (error) that occurs and assigns the exception object to the variable e . The exception object contains information about the error.
text

print(f"Could not calculate salary correlation: {e}")
: This prints an error message to the console, indicating that the correlation could not be calculated and includes the specific error message (e) . This helps in identifying the cause of the error.

**Pearson Correlation Explnation Video:** https://www.youtube.com/watch?v=k7IctLRiZmo

In [42]:
# 8. Salary Correlation Calculation with Pearson Correlation
try:
    correlation = df['salary'].corr(df['join_year'], method='pearson')
    print("Salary Correlation:", correlation)
except Exception as e:
    print(f"Could not calculate salary correlation: {e}")

Could not calculate salary correlation: 'join_year'

### 9. Average Salary Aggregation

In [43]:
# 9. Average Salary Aggregation

pivot_table = pd.pivot_table(df, values='salary', index='department', columns='job_title', aggfunc='mean')
print("Average Salary Aggregation (Pivot Table):\n", pivot_table)

Average Salary Aggregation (Pivot Table):
 job_title    Director Analyst  Director Consultant  Director Engineer  \
department
Engineering      84405.187500         87106.300000       79945.444444
Finance          79695.714286         85511.500000       84222.900000
HR               81703.333333         83208.375000       75749.555556
IT               74448.833333         90364.400000       75395.500000
Marketing        76284.222222         76723.181818       79329.181818
Marketting                NaN                  NaN                NaN
Operations       85502.750000         88438.000000       88707.100000
Sales            75914.571429         80046.083333       73967.666667

job_title    Director Manager  Junior Analyst  Junior Consultant  \
department
Engineering      87945.000000    75709.000000       89315.000000
Finance          84374.333333    79545.388889       86789.769231
HR               74745.083333    76677.600000       84401.750000
IT               61862.000000    86084.888889       75257.600000
Marketing        77597.333333    84981.833333       97934.200000
Marketting                NaN   113678.000000                NaN
Operations       80882.090909    84956.888889       72337.033333
Sales            84931.250000    74682.714286       71802.000000

job_title    Junior Engineer  Junior Manager  Lead Analyst  Lead Consultant  \
department
Engineering     75694.466667    83040.900000  88536.416667     91025.166667
Finance         82466.800000    73036.125000  80503.625000     70027.000000
HR              90838.400000    76312.600000  79283.083333     84617.777778
IT              86236.384615    78152.875000  77049.555556     76937.000000
Marketing       85586.000000    86895.166667  81122.600000     69973.900000
Marketting               NaN             NaN  89135.000000              NaN
Operations      79008.071429    81959.125000  90847.500000     73640.346154
Sales           84925.428571    86882.250000  76244.500000     92062.272727

job_title    Lead Engineer  Lead Manager  Manager Analyst  Manager Consultant  \
department
Engineering   85189.700000  72874.400000     67410.428571        85233.666667
Finance       80409.636364  87555.142857     78564.000000        79685.571429
HR            85942.818182  80783.875000     61347.000000        77102.750000
IT            79711.222222  81960.666667     82619.888889        95730.428571
Marketing     92537.714286  89838.111111     87524.777778        73183.833333
Marketting             NaN           NaN              NaN        79927.000000
Operations    74996.650000  80137.785714     74241.800000        74570.222222
Sales         86023.666667  77504.666667     73003.571429        76630.545455

job_title    Manager Engineer  Manager Manager  Senior Analyst  \
department
Engineering      80480.187500     71185.272727    87117.125000
Finance          80202.555556     88440.166667    89556.111111
HR               83924.066667     63211.900000    81661.000000
IT               78225.571429     85438.666667    76345.285714
Marketing        70557.800000     78042.800000    77534.750000
Marketting                NaN              NaN    86558.000000
Operations       82923.807692     76997.363636    76746.545455
Sales            78699.466667     89595.285714    83856.000000

job_title    Senior Consultant  Senior Engineer  Senior Manager
department
Engineering       84228.923077     84462.500000    79992.714286
Finance           72655.000000     85116.111111    66044.800000
HR                74589.333333     69449.666667    66040.444444
IT                87999.307692     90513.916667    70629.800000
Marketing         79096.400000     81551.666667    85593.071429
Marketting                 NaN     83981.000000             NaN
Operations        90775.750000     73862.750000    78528.833333
Sales             83752.625000     81203.272727    87238.750000

### 10. Duplicate Row Removal

In [44]:
# 10. Duplicate Row Removal
# Removes all duplicate rows form the DataFrame and verifies the removal
# Create an explicit copy of the DataFrame
df_copy = df.copy()

initial_shape = df_copy.shape
df_copy.drop_duplicates(inplace=True)
final_shape = df_copy.shape

if final_shape < initial_shape:
    print("Duplicates successfully removed.")
    # Assign df_copy back to df if you want to continue using df
    df = df_copy
else:
    print("No duplicates were found.")

Duplicates successfully removed.

In [45]:
# Display the first few rows of the cleaned DataFrame
print("Cleaned Dataframe (First 5 rows):\n", df.head())

Cleaned Dataframe (First 5 rows):
   employee_id first_name last_name                       email  \
0     EMP0001     Robert   Vasquez  anthonyhubbard@example.com
1     EMP0002    Barbara     Bruce    bonniethomas@example.com
2     EMP0003      Derek    Martin         smiller@example.net
3     EMP0004    Monique   Serrano        joseph51@example.net
4     EMP0005      Frank  Robinson       mariepope@example.net

                    phone   department          job_title    salary  \
0            395-797-9647           HR     Senior Analyst   89934.0
1  001-745-858-7716x94722           HR  Senior Consultant   77234.0
2        356-450-4481x832  Engineering  Senior Consultant   92953.0
3        001-852-702-8457        Sales    Senior Engineer  110460.0
4     +1-788-681-6711x207           HR    Manager Manager   75316.0

    join_date  performance_score email_domain
0  2022-09-06                  5  example.com
1  2024-07-05                  5  example.com
2  2022-11-02                  3  example.net
3  2024-09-21                 -1  example.net
4  2023-07-29                  2  example.net